/Trunk/PPC Manager/TestResults
/Trunk/PPC Manager/PPC Manager Tests/Resources/*.xlsx
/Trunk/PPC Manager/PPC Manager Tests/Resources/Protokolle
/Trunk/PPC Manager/packages/**
!/Trunk/PPC Manager/packages/repositories.config
/Trunk/PPC Manager/UpgradeLog*.htm
/Trunk/PPC Manager/.vs/**
/.vs/**
bin
obj
*.psess
*.vspx
*.user
*.suo
